.page {
  display: flex;
  background-color: var(--page-bg);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  min-width: 250px;
  background-color: var(--grey-dark);
  display: flex;
  flex-direction: column;
}

.brand__name {
  padding: 0.5rem 0;
  padding-inline: 1rem;
  border-bottom: 1px solid #333333;
  display: flex;
  align-items: center;
  height: 100px;
  font-weight: 600;
}

.brand__name img {
  height: 60px;
}

.brand__name p {
  margin: 0;
  line-height: 1;
}

.brand__name p small {
  display: block;
  padding: 4px 0;
  color: #aaa;
}

.brand__name p span {
  font-size: 20px;
  color: #eee;
}

.brand__name p span em {
  font-style: normal;
  color: var(--theme-color);
}

.menu__header {
  padding: 0.5rem 1rem;
  color: #999;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 11px;
  margin-top: 0.5rem;
}

.menu__header span {
  display: none;
}

.client__list,
.client__list_expanded {
  overflow-y: auto;
  background-color: var(--grey-dark);
}

.client {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 10px;
  align-items: center;
  padding: 0.5rem 1rem;
}

.client__avatar {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background-color: var(--grey-light);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  color: #fff;
}

.client p {
  color: #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.client p span {
  display: block;
  font-size: 11px;
  font-weight: 500;
  color: var(--theme-color);
}

.sessionMenu {
  margin-top: auto;
  padding: 1rem;
}

.sessionMenu__item {
  padding: 0.75rem;
  text-align: center;
  cursor: pointer;
  color: #eee;
  width: 100%;
  background-color: var(--grey);
  border: none;
  border-radius: 0.5rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  transition: background 0.2s ease-in;
  box-shadow: none;
}

.sessionMenu__item:hover,
.sessionMenu__item:focus {
  background-color: var(--grey-light);
}

.sessionMenu__item:focus {
  outline-color: var(--grey-light);
}

.leave__btn {
  composes: sessionMenu__item;
  background-color: #9b0b06;
}

.leave__btn:hover,
.leave__btn:focus {
  background-color: #be0902;
}

.main {
  flex: 1;
  height: 100vh;
  display: grid;
  overflow: hidden;
}

.editor {
  flex: 1;
  height: calc(100vh - 60px);
}

.console_btns {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-block-start: 1px solid #333333;
  gap: 10px;
  height: 60px;
  z-index: 1;
}

.status_err {
  color: #eee;
  font-weight: 600;
  font-size: 14px;
}

.status_err span {
  font-weight: 400;
}

.run_btn {
  composes: sessionMenu__item;
  font-weight: 600;
  background-image: var(--gradient);
  width: 100px;
  margin-bottom: 0;
}

.run_btn:disabled {
  pointer-events: none;
  opacity: 0.8;
}

/* Tablet view */

@media screen and (max-width: 992px) {
  .page {
    flex-direction: column;
  }

  .sidebar {
    display: grid;
    grid-template-columns: 80px 1fr;
  }

  .brand__name {
    height: 60px;
    grid-column: 1/2;
  }

  .brand__name img {
    height: 48px;
  }

  .brand__name p {
    display: none;
  }

  .menu__header {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: 0;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #333;
  }

  .menu__header span {
    display: block;
    cursor: pointer;
    color: var(--theme-color);
    font-weight: 600;
  }

  .client__list {
    grid-column: 1/3;
    grid-row: 3/4;
    max-height: 0;
  }

  .client__list_expanded {
    position: fixed;
    top: 96px;
    width: 100%;
    left: 0;
    z-index: 1;
    max-height: calc(100vh - 96px);
  }

  .sessionMenu {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    border-bottom: 1px solid #333333;
    height: 60px;
    padding-block: 0;
  }

  .sessionMenu button {
    white-space: nowrap;
    margin: 0;
    width: auto;
  }

  .main {
    height: calc(100vh - 100px);
  }

  .editor {
    height: calc(100vh - 156px);
    overflow: auto;
  }
}

/* Mobile view */
