:root {
  --grey: #282a36;
  --grey-dark: #23252f;
  --grey-light: #2e303e;

  --page-bg: var(--grey);
  --theme-color: #8873f6;
  --theme-color-dark: #3433eb;
  --error-color: #e40c05;
  --gradient: linear-gradient(335deg, #3433eb, #8873f6);
}

*:focus {
  outline-color: var(--theme-color);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.CodeMirror {
  min-height: 100vh;
  font-size: 15px;
  line-height: 1.4;
  padding-top: 20px;
}
